<div class="container">
    <div class="myContent">
      <div style="text-align:center;">
        <div class="form-group">
            <label>Username</label>
            
            <br>
            <input type="text"  class="form-control">  
          </div>
      
          <div class="form-group">
            <label>Password</label><br>
            <input type="text"  class="form-control">  
          </div>
      <br>
          <button class="registerbtn" routerLink="/home">Log in</button> 
    </div>
  </div>
